---
import PageLayout from "@layouts/PageLayout.astro";

import { type Meta, type Schema } from "@components/core/MySEO.astro";

import MyImage from "@components/ui/MyImage.astro";

import test from "@assets/images/pages/test.webp";

import Form from "@components/ui/Form.astro";

const meta: Meta = {
  title: "Strona główna ",
  description: "Opis mojej strony głównej",
};
---

<PageLayout meta={meta}>
  <section class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div
        class="grid grid-cols-1 gap-x-20 gap-y-12 md:gap-y-16 lg:grid-cols-2 lg:items-center"
      >
        <div>
          <h1>Bezproblemowe strony internetowe</h1>
          <p class="md:text-md">
            Szybkie, bezpieczne i łatwe w edycji strony internetowe o które nie
            trzeba się martwić
          </p>
          <div class="mt-6 flex flex-wrap gap-4 md:mt-8">
            <button class="btn btn-lg btn-primary" title="Button">
              Button</button
            >
            <button class="btn btn-outline btn-lg btn-primary" title="Button">
              Button</button
            >
          </div>
        </div>
        <div>
          <MyImage img={test} alt="Łukasz Miłoś" loading="eager" />
        </div>
      </div>
    </div>
  </section>

  <Form />
</PageLayout>
