---
import "../styles/global.css";
import Head from "../components/core/Head.astro";

const { ...props } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <Head />
  </head>
  <body><slot /> </body>
</html>
