---
import { type Meta, type Schema } from "@components/core/MySEO.astro";

import BaseLayout from "@layouts/BaseLayout.astro";
import Navbar from "@components/layout/Navbar.astro";
import Footer from "@components/layout/Footer.astro";
import Container from "@components/layout/Container.astro";
import Heading from "@components/ui/Heading.astro";

type Props = {
  pageTitle?: string;
  pageDescription?: string;
  meta: Meta;
  schema?: Schema;
};

const { pageTitle, pageDescription, meta, schema } = Astro.props;
---

<BaseLayout meta={meta} schema={schema}>
  <div class="w-full flex justify-center">
    <div
      class="flex flex-col min-h-screen justify-between w-full shadow-primary"
    >
      <Navbar />
      <main class="w-full py-12 block">
        {
          pageTitle && (
            <header class="pt-4 md:pt-6 lg:pt-8">
              <Container size="md">
                <div class="flex flex-col gap-4 text-center">
                  <Heading tag="h1">{pageTitle}</Heading>
                  {pageDescription && (
                    <p class="md:text-md">{pageDescription}</p>
                  )}
                  <slot name="header" />
                </div>
              </Container>
            </header>
          )
        }
        <slot />
      </main>
      <Footer />
    </div>
  </div>
</BaseLayout>
